/* $Id$ */
@font-face {
	font-family: "proxima_nova_rgregular";
	src: url("https://fonts.zohostatic.com/proxima/ProximaNova-Reg-webfont.eot");
	src: url("https://fonts.zohostatic.com/proxima/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Reg-webfont.woff") format("woff"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Reg-webfont.ttf") format("truetype"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "proxima_novasemibold";
	src: url("https://fonts.zohostatic.com/proxima/ProximaNova-Sbold-webfont.eot");
	src: url("https://fonts.zohostatic.com/proxima/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Sbold-webfont.woff") format("woff"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Sbold-webfont.ttf") format("truetype"), url("https://fonts.zohostatic.com/proxima/ProximaNova-Sbold-webfont.svg#proxima_novasemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0px;
	font-family: proxima_nova_rgregular;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.ui-fl {
	float: left;
}
.ui-fr {
	float: right;
}
.ui-chrome-addon {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.ui-header {
    width: 100%;
    height: 70px;
    background: #191919;
    position: fixed;
    top: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.ui-data_listing {
    width: 100%;
    margin-top: 70px;
}
.ui-branc-details {
	display: inline-block;
    margin: 3%;
    width: 440px;
    height: 180px;
    box-shadow: 3px 0px 10px 2px #d0c8c8;
    list-style: none;
    position: relative;
    overflow:hidden;
    cursor: pointer;
    text-align: left;
}
.ui-userPic {
	background-image: url('https://people.zoho.com/zpeoplehr/viewPhoto?erecno=2803000009534406&mode=1&avatarid=731');
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 180px 180px;
    margin-right: 10px;
}
.ui-branchName {
    font-weight: bold;
    font-size: 16px;
    white-space: normal;
    width: 240px;
    word-break: break-all;
    padding: 7px 0px;   
}
.ui-branchInfo {
    overflow: hidden;
    padding-top: 16px;
    border-top: 1px solid #4a4a4ac2;
    padding-bottom: 14px;
    width: 240px;
    height: 90px;
}
.ui-branchInfo li {
	margin-bottom: 5px;
}
.ui-branchInfo div {
	padding-left: 10px;
}
.ui-branchInfo div div {
	margin-bottom: 5px;
}
.ui-branchInfo ol {
	padding-left: 10px;
    padding-right: 10px;
}
.ui-view, .ui-edit {
    font-weight: bold;
    font-size: 17px;
    color: red;
    padding: 5px 10px;
    margin: 0px 5px 0px;
}
.ui-edit {
    font-weight: bold;
    font-size: 17px;
    color: red;
}
.ui-footer {
  	width: calc(100% - 180px);
    height: 18%;
    bottom: 0%;
    right: 0px;
    position: absolute;
    opacity: 1;
    background: rgba(255,255,255,0.8);
}
.ui-productLog {
	background: url(../images/writer-logo.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    float: left;
}
.ui-userImage {
    background-size: 50px 50px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.ui-categoryes{
    color: white;
    float: left;
    margin: 10px 20px;
}
.ui-catg {
    float: left;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0px 10px;
}
.ui-Priority {
	width: 40%;
    height: 53%;
    position: absolute;
    background-image: url(../images/Regular.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(325deg);
    left: -81px;
    top: -73px;
}
.ui-errorMsg {
	position: absolute;
    left: 39%;
    top: 50%;
    font-size: 20pt;
     display:none;
}
.ui-branch-panel {
	width: 400px;
    height: 100%;
    padding: 10px;
    right: 0px;
    top: 0px;
    position: fixed;
    background-color: #F5F8FA;
    box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.1);
    display:none;
    box-sizing: border-box;
}
.ui-showBranchname {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    word-break: break-all;
    margin-top: 15px;
    padding: 0px 17px;
}
.ui-info {    
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    background: #ffffff;
    border-collapse: collapse;
    border: 1px solid #e2e2e2;
}
tr {
	box-shadow: 2px 1px 0px 0px #e2e2e2;
}
tr:nth-child(odd) {
  background: #f5f5f5;
}

tr:nth-child(even) {
  background: $ffffff;
}
th {
	padding: 12px 15px;
    text-align: left;
}
:root {
  --r-fill: url(#zw-gradient-1);
}			
.green {	
	--r-fill: url(#zw-gradient-3);
}			
#zw-gradient-1 {
  --color-stop-1: #55A5F5;
  --color-stop-2: #1B53CD;
}
#zw-gradient-2 {
  --color-stop-1: #576B7C;
  --color-stop-2: #303C4D;
}
#zw-gradient-3 {
  --color-stop-1: #00D4CC;
  --color-stop-2: #00D4CC;
}
.loader {
    width: 60px;
    height: 60px;
    perspective: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10003;
    display: block;
}
.loader span {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loader span:first-child {
  left: -15px;
  transform: translateZ(0);
  z-index: 1;
  animation: rotation1 0.8s linear 0s infinite;
  animation-direction: alternate;
}
.loader span:last-child {
  right: -15px;
  transform: translateZ(0);
  z-index: 1;
  animation: rotation2 0.8s linear 0s infinite;
  animation-direction: alternate;
}
@keyframes rotation1 {
  25% {
    transform: translateZ(-60px);
  }
  50% {
    left: 22px;
    transform: translateZ(0);
  }
  75% {
    transform: translateZ(60px);
    z-index: 2;
  }
  100% {
  	left: -15px;
  	transform: translateZ(0);
  	z-index: 2;
  }
}

@keyframes rotation2 {
  25% {
    transform: translateZ(60px);
    z-index: 2;
  }
  50% {
    right: 22px;
    transform: translateZ(0);
  }
  75% {
    transform: translateZ(-60px);    
    z-index: 1;
  }
  100% {
  	right: -15px;
  	transform: translateZ(0);
  	z-index: 1;
  }
}
.ui-data_listing ul {
	padding: 0px;
	text-align: center;
}
.ui-info-container {
	height: calc(100% - 64px);
	overflow: scroll;
}
.ui-icon-close {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: transparent;
    top: 12px;
    right: 12px;
    border: 1px solid #435869;
    box-sizing: border-box;
    position: absolute;
}
.ui-icon-close:before, .ui-icon-close:after {
    content: "";
    width: 1px;
    height: 11px;
    background-color: #435869;
    position: absolute;
    top: 3px;
    left: 8px;
}
.ui-icon-close:before {
    transform: rotate(45deg);
}
.ui-icon-close:after {
    transform: rotate(-45deg);
}